.feature {
  float: left;
}

.bluetext {
  color: blue;
}

.greenbg {
  background: #f5fffa;
}

.bluebg {
  background: #f5faff;

}

.purplebg {
  background: #faf5ff;
}

.purplehead {
  background: #ddcef2;
}
